body {
    margin: 0;
}

.main {
    display: flex;
    margin-bottom: 50px;
}

.main > div {
    height: 50px;
    width: 100px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

#c1 {
    flex-direction: row;
}

#c2 {
    flex-direction: row-reverse;
}

#c3 {
    flex-direction: column;
}

#c4 {
    flex-direction: column-reverse;
}