body {
    margin: 0;
}

.main {
    display: flex;
    margin-bottom: 50px;
    height: 300px;
    background-color: orange;
}

.main > div {
    height: 50px;
    width: 100px;
}

.red {
    background-color: red;
    flex-grow: 1;
}

.green {
    background-color: green;
    flex-grow: 1;
}

.blue {
    background-color: blue;
    flex-grow: 1;
}

#c2 > .green {
    align-self: center;
}