body {
    margin: 0;
}

.container {
    display: flex;
    margin-bottom: 50px;
    flex-wrap: wrap;
}

.container > div {
    height: 50px;
    width: 100px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

#c2 > .green {
    order: -1;
}