body {
    margin: 0;
}

.container {
    display: flex;
    margin-bottom: 50px;
}

.container > div {
    height: 50px;
    width: 200px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

#c1 > .green {
    flex-basis: 100px;
}

#c2 > .green {
    flex-basis: 50%;
}

#c3 > .green {
    flex-basis: auto;
}