.ct-layout {
    display: flex;
    flex-direction: column;

    color: @custom-ct-white;
    background-color: @custom-ct-black;
    overflow-y: scroll;

    &__article {
        display: flex;
        flex-direction: row;
        align-self: center;

        padding: 1rem;
        margin-bottom: 4rem;

        &-main {
            width: 830px;
            margin-right: 4rem;
        }

        &-ad {
            width: 300px;
            height: 400px;
            align-self: end;
            background-color: @custom-ct-gray;
        }
    }

    &__svg-store {
        &._hidden {
            .hidden();
        }
    }

    &::-webkit-scrollbar {
        width: 30px;
        height: 30px
    }

    &::-webkit-scrollbar-thumb {
        background: linear-gradient(180deg, @custom-ct-orange, @custom-ct-pink);
        border-radius: 30px;
        box-shadow: inset 2px 2px 2px hsla(0, 0%, 100%, .25),inset -2px -2px 2px rgba(0, 0, 0, .25)
    }

    &::-webkit-scrollbar-track {
        background: linear-gradient(90deg, #201c29, #201c29 1px, #100e17 0, #100e17)
    }
}

