.ct-link {
    &._logo {
        display: flex;
        align-items: center;
        padding: 1em 2em;

        & :first-child {
            width: 34px;
            height: 38px;
            margin-right: 0.5em;
            fill: @custom-ct-orange;
        }

        & :last-child {
            fill: white;
            height: 25px;
            width: 199px;
        }
    }
}