.ct-link {
    cursor: pointer;

    &._logo {
        display: flex;
        align-items: center;
        padding: 1em 2em;

        &>:first-child {
            width: 34px;
            height: 38px;
            margin-right: 0.5em;
            fill: @custom-ct-orange;
        }

        &>:last-child {
            fill: @custom-ct-white;
            height: 25px;
            width: 199px;
        }
    }

    &._author {
        &>img {
            border-radius: 50%;
            width: 60px;
            height: 60px;
            display: block;
            overflow: hidden;
            margin: 16px 10px;
        }
    }
}