.router-link {
    text-decoration: none;

    &__image {
        height: 200px;
    }

    &__text {
        &._sqc {
            font-family: Arial, sans-serif;
            font-size: 100px;
            font-weight: bold;
            color: white;
        }
    }
}