// задаем цвета проекта

@custom-blue: rgb(0, 84, 185);
@custom-yellow: #ffdb4d;
@custom-red: red;
@custom-gray: rgb(153, 153, 153);
@custom-lightblue: rgb(109, 162, 225);
@custom-red-link: #c00;
@custom-lightgray: lightgray;
@custom-black: black;
