body {
    margin: 0;
}

.main {
    display: flex;
    margin-bottom: 50px;
}

.main > div {
    height: 50px;
    width: 100px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

#c1 {
    flex-wrap: nowrap;
}

#c2 {
    flex-wrap: wrap;
}

#c3 {
    flex-wrap: wrap-reverse;
}
