body {
    margin: 0;
}

.main {
    display: flex;
    margin-bottom: 50px;
}

.main > div {
    height: 50px;
    width: 200px;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}

#c1 > .green {
    flex-shrink: 0;
}

#c2 > .green {
    flex-shrink: 0.5;
}

#c3 > .green {
    flex-shrink: 2;
}