.link {
  cursor: pointer;
  text-decoration: none;

  &__image {

    &._location {
      position: relative;
      top: 3px;
      width: 16px;
      height: 16px;
    }

    &._promo {
      margin-top: -4px;
      vertical-align: middle;
    }
  }

  &._gray {
    color: rgb(153, 153, 153);
  }

  &._large {
    font-size: 123%;
  }

  &._lightblue {
    color: rgb(109, 162, 225);
  }

  &._blue {
    color: rgb(0, 84, 185);
  }

  &._bold {
    font-weight: 500;
  }

  &._orange {
    color: rgb(238, 123, 0);
  }

  &._datetime {
    font-size: 84.6%;
  }
}