.main {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__header {
    align-self: stretch;
    margin: 8px 6px 6px 30px;
    line-height: 42px;
  }

  &__news {
    display: flex;
    position: relative;
    left: -10px;
    margin-bottom: 2px;
  }

  &__widgets {
    position: relative;
    width: 842px;
    left: 48px;
  }

  &__search-form {
    position: relative;
    left: 50px;
  }

  &__ads {
    height: 90px;
    width: 728px;
    background-color: lightgray;
  }
}